<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>

	<!-- Active Directory -->
	<add key="ActiveDirectory.DomainController" value="LDAP://{AD_SERVER}"/>
	<add key="ActiveDirectory.DomainUser.Login" value="user@active.directory.domain"/>
	<add key="ActiveDirectory.DomainUser.Password" value="password"/>

	<!-- Exchange -->
	<add key="Exchange.ServerName" value="{EXCHANGE_SERVER}"/>
	<add key="Exchange.GCalQueryUser.Login" value="user@active.directory.domain"/>
	<add key="Exchange.GCalQueryUser.Password" value="password"/>
	<add key="Exchange.GCalQueryAdmin.Login" value="adminuser@active.directory.domain"/>
	<add key="Exchange.GCalQueryAdmin.Password" value="password"/>

	<!-- Default Domain - restrict exchange redirects to this domain -->
	<!-- <add key="Exchange.DefaultDomain" value=".corp.domain"/> -->

	<!-- Specify a different exchange server to use for Free Busy Write -->
	<!-- <add key="Exchange.FreeBusyServerName" value="http://example.org"/> -->

	<!-- Enable / Disable fetching Appointment data when available  -->
	<add key="Exchange.EnableAppointmentLookup" value="false"/>

	<!-- Maximum HTTP connections between web service and Exchange Server -->
	<!-- <add key="Exchange.MaxConnections" value="50"/> -->

	<!-- Google Apps -->
	<add key="GoogleApps.DomainName" value="example.org"/>
	<add key="GoogleApps.AdminUser.Login" value="user"/>
	<add key="GoogleApps.AdminUser.Password" value="password"/>

	<!-- Log XML Traffic -->
	<!-- <add key="GoogleApps.GCal.LogDirectory" value=""/> -->

	<!-- Domain Mapping -->
	<!-- <add key="GoogleApps.GCal.DomainMapping" value="ExternalDomain,LocalDomain"/> -->

    <!-- Allow diagnostics page to be accessible from location other than localhost -->
    <add key="WebService.RequireLocalAccessforDiagnostics" value="true"/>

    <!-- Default HTTP or HTTPS for requests with no referrer -->
    <!-- <add key="WebService.DefaultGoogleCalendarSSL" value="false"/> -->

  </appSettings>

  <log4net debug="true">
    <!-- Appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Loggers -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

	<!-- NetTrace Debugging Options -->
	<!--
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.Net">
			  <listeners>
				<add name="TraceFile" />
			  </listeners>
			</source>  
		</sources>
		<sharedListeners>
			<add
			  name="TraceFile"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="c:\google\logs\WebNetTrace.log"
			/>
		</sharedListeners>
		<switches>
			<add name="System.Net" value="Verbose" />
		</switches>
	</system.diagnostics>
	-->
	
	<system.net>
	<!-- HTTP Proxy Settings -->
	<!--

	<defaultProxy>
		<bypasslist>
			<add address="internaldns.yourdomain.com|internaldns2.yourdomain.com" />
		</bypasslist>
		<proxy
			usesystemdefault="True"
			proxyaddress=" http://proxyserver.internal.youdomain.com:3128"
			bypassonlocal="True"
		/>
	</defaultProxy>
	-->

  </system.net>

 <system.web>
   <customErrors mode="RemoteOnly" defaultRedirect="errors/errors.htm">
   <error statusCode="403" redirect="errors/403.htm"/>
   </customErrors>
 </system.web>

</configuration>
